In [1]:
import pandas as pd
import numpy as np

In [2]:
# series 생성
stocks={
    '주식1':'NVDA',
    '주식2':'MSFT',
    '주식3':'AAPL',
    '주식4':'GOOG'}
stocks_se = pd.Series(stocks)
print(stocks_se)
stocks_se.name = '미국주식'
stocks_se.index = ['A', 'B', 'C', 'D']

print(stocks_se)

주식1    NVDA
주식2    MSFT
주식3    AAPL
주식4    GOOG
dtype: object
A    NVDA
B    MSFT
C    AAPL
D    GOOG
Name: 미국주식, dtype: object

In [3]:
nums_ser = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(nums_ser, nums_ser['c'])

a   -0.936418
b    0.097270
c    0.530618
d   -1.806255
e   -1.747335
dtype: float64 0.5306175724193715

In [4]:
info = {
    'a': 10,
    'b': 20,
    'c': 30
}
info_ser = pd.Series(info)
print(info_ser)

#print(info_ser.iloc[1], info_ser.loc['02'])

a    10
b    20
c    30
dtype: int64

In [5]:
num_ser = pd.Series(5.5, index = ['a', 'b', 'c', 'd', 'e'])
print(num_ser)
print(num_ser.index)

a    5.5
b    5.5
c    5.5
d    5.5
e    5.5
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
# Series 속성
movies = ['영화1', '영3', '영3', '영화4', '영5']
movies_ser = pd.Series(movies)
print(movies_ser.values)
print(movies_ser.array)
print(movies_ser.index)

['영화1' '영3' '영3' '영화4' '영5']
<NumpyExtensionArray>
['영화1', '영3', '영3', '영화4', '영5']
Length: 5, dtype: object
RangeIndex(start=0, stop=5, step=1)

In [7]:
movies_ser.is_unique

False

In [8]:
print(movies_ser.dtype)
print(movies_ser.shape)
print(movies_ser.ndim)
print(movies_ser.size)

object
(5,)
1
5

In [9]:
# 메서드
nums_ser = pd.Series([2025, 9, 9,12,35])
print(nums_ser.sum())
print(nums_ser.product())
print(nums_ser.mean())

print(nums_ser.head(2))
print(nums_ser.tail(2))

2090
68890500
418.0
0    2025
1       9
dtype: int64
3    12
4    35
dtype: int64

In [10]:
print(nums_ser.info())
print('-----------------------------')
print(nums_ser.describe())

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes
None
-----------------------------
count       5.000000
mean      418.000000
std       898.406367
min         9.000000
25%         9.000000
50%        12.000000
75%        35.000000
max      2025.000000
dtype: float64

In [11]:
nums_ser.index = list('abcde')
print(nums_ser)

a    2025
b       9
c       9
d      12
e      35
dtype: int64

In [12]:
# S&P 500 데이터 활용

sp_500_df = pd.read_csv("./data/S_P500_Prices.csv")
# 컴마로 데이터 구분해 2차원의 형태로 가져옴
print(sp_500_df)

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [13]:
sp_500_df = sp_500_df.squeeze()     #데이터프레임의 Series가 하나인 경우 Series 객체 반환
# print(type(sp_500_df))
# print(sp_500_df.info())
#print(sp_500_df.describe())

sp_500_ser=pd.Series(sp_500_df)

#형태, 요소의 개수, 깊이
print(sp_500_ser.shape)
print(sp_500_ser.size)
print(sp_500_ser.ndim)
print("-----------------------------------------")

#갯수, 최소값, 중위값, 평균값, 표준편차, 분산
print(sp_500_ser.count())
print(np.min(sp_500_ser))
print(np.median(sp_500_ser))
print(np.mean(sp_500_ser))
print(np.std(sp_500_ser))
print(np.var(sp_500_ser))
print("-----------------------------------------")

#인덱스 번호로 인덱싱 및 슬라이싱: 인덱스 50의 값 가져오기, 인덱스 100~200 값 가져오기
print(sp_500_ser[50]) # or sp_500_ser.iloc[50]
print(sp_500_ser[100:201])
print("-----------------------------------------")

#fancy indexing 써보기. 1000, 2000 두 요소 꺼내오기
print(sp_500_ser[[1000, 2000]])
print("-----------------------------------------")

#boolean indexing 써보기. 3000보다 큰 수만 가져오기
print(sp_500_ser[sp_500_ser.values>3000])

(2159,)
2159
1
-----------------------------------------
2159
1278.040039
2106.629883
2218.7495540592868
537.1972748355726
288580.91209076566
-----------------------------------------
1416.51001
100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
200    1411.939941
Name: sp500, Length: 101, dtype: float64
-----------------------------------------
1000    2016.709961
2000    3223.379883
Name: sp500, dtype: float64
-----------------------------------------
1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64

In [14]:
print(3351.280029 in sp_500_ser.values)

True

In [15]:
print(sp_500_ser.sort_values().head())
print(sp_500_ser.head())

97    1278.040039
98    1278.180054
99    1285.500000
1     1289.089966
2     1293.670044
Name: sp500, dtype: float64
0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
Name: sp500, dtype: float64

In [16]:
print(sp_500_ser.sort_values(ascending=False).head())

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
Name: sp500, dtype: float64