In [33]:
# 데이터 전처리
import numpy as np
import pandas as pd

In [34]:
# 결측치 확인 및 처리(결측치 제거 or 결측치 값 대체)
# 이상값 처리
# 중복값 처리

df=pd.read_csv('./data/contacts.csv')
df

   Name          Phone                     Email
0   김민수  010-1234-5678       minsu.kim@gmail.com
1   이지은  010-2345-6789       jieun.lee@naver.com
2   박철수  010-3456-7890  chulsoo.park@hotmail.com
3   홍길동  010-4567-8901     gildong.hong@daum.net
4   김영희  010-5678-9012    younghee.kim@gmail.com
..  ...            ...                       ...
72  범수정  010-3456-7892   soojeong.beom@gmail.com
73  이호진  010-4567-8904        hojin.lee@daum.net
74  정지윤  010-5678-9015         jungzee@naver.com
75  김지현  010-6789-0126          jh.kim@gmail.com
76  이지훈  010-7890-1237           leejh@gmail.com

[77 rows x 3 columns]

In [35]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    77 non-null     object
 1   Phone   71 non-null     object
 2   Email   76 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

       Name          Phone                  Email
count    77             71                     76
unique   75             63                     75
top     박철수  010-2345-6789  dahyun.jung@naver.com
freq      2              2                      2

In [36]:
print(df[df['Name']=='박철수'])
print(df[df['Phone']=='010-2345-6789'])
print(df[df['Email']=='dahyun.jung@naver.com'])

   Name          Phone                     Email
2   박철수  010-3456-7890  chulsoo.park@hotmail.com
31  박철수  010-1234-5681    chulsoo.park@gmail.com
   Name          Phone                     Email
1   이지은  010-2345-6789       jieun.lee@naver.com
71  엄정희  010-2345-6789  jeonghee.eom@hotmail.com
   Name          Phone                  Email
32  정다현  010-2345-6782  dahyun.jung@naver.com
67  정다현  010-2345-6782  dahyun.jung@naver.com

In [37]:
# 중복 데이터 처리

df.duplicated().sum()

np.int64(1)

In [38]:
df[df.duplicated('Name')]

   Name          Phone                   Email
31  박철수  010-1234-5681  chulsoo.park@gmail.com
67  정다현  010-2345-6782   dahyun.jung@naver.com

In [39]:
# 중복 데이터 제거

df = df.drop_duplicates().reset_index(drop=True)

In [40]:
df.isna().sum()

Name     0
Phone    6
Email    1
dtype: int64

In [41]:
df.isnull().sum()

Name     0
Phone    6
Email    1
dtype: int64

In [ ]:
# 대표값으로 결측치 대체
df['Phone'] = df['Phone'].fillna('010-2345-0000')

In [43]:
df['Phone'].value_counts()

Phone
010-0000-0000    6
010-2345-6789    2
010-0123-4569    2
010-3456-7892    2
010-6789-0126    2
                ..
010-6789-0128    1
010-7890-1240    1
010-8901-2349    1
010-9012-3461    1
010-1234-5672    1
Name: count, Length: 64, dtype: int64

In [46]:
# 결측치가 포함된 행 제거
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 0 to 75
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    75 non-null     object
 1   Phone   75 non-null     object
 2   Email   75 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB