### Faker
- 가상 데이터 생성

In [ ]:
# !pip install faker

Collecting faker
  Downloading faker-37.8.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\playdata\appdata\local\anaconda3\envs\ml_env\lib\site-packages (from faker) (2025.2)
Downloading faker-37.8.0-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 2.0/2.0 MB 52.9 MB/s  0:00:00
Installing collected packages: faker
Successfully installed faker-37.8.0

In [ ]:
from faker import Faker

fake = Faker()

print(fake.name())
print(fake.first_name() + " " + fake.last_name())
print(fake.email())
print(fake.company()) # 가상 회사 이름
print(fake.date_of_birth(minimum_age=19, maximum_age=90))

# 실데이터 사용하되 faker를 써도 되긴 하다...

Micheal Baldwin
William Burgess
bmayer@example.org
Henderson-Atkinson
1961-11-05

In [106]:
import pandas as pd
import random

fake = Faker()

def generate_customer_data(n=1000):
    data = []
    
    # customer data 생성할 것. 분석에 필요없는 name등의 정보는 만들지 않을 것
    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_months = fake.random_int(min=1, max=120) # 가입 개월 수
        monthly_payment = round(random.uniform(10, 100), 2)
            # 10부터 100까지의 실수에서 균등적으로 무작위 생성. 이때 반올림해서 소숫점 둘째 자리까지만 살림
        usage_frequency = fake.random_int(min=1, max=30) # 멤버십??
        stft_score = fake.random_int(min=0, max=5) # 만족도 점수
        churn = fake.boolean(chance_of_getting_true=30) # 이탈을 했는지 안 했는지의 여부를 True, False로 생성. True 비율을 30퍼로 지정.

        data.append([age, sub_months, monthly_payment, usage_frequency, stft_score, churn])

        columns = ['AGE', 'SUB_MONTHS', 'MONTHLY_PAYMENT', 'USAGE_FEQ', 'STFT', 'CHURN']

    return pd.DataFrame(data, columns=columns)

In [ ]:
customer_df = generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
0        26          54            31.31         25     5   True
1        43          87            35.11         24     3  False
2        39         106            17.80         22     5  False
3        25           6            81.80         24     2  False
4        42          17            64.31         29     2   True
...     ...         ...              ...        ...   ...    ...
199995   35          39            55.80         15     2  False
199996   28         120            74.24         10     1  False
199997   58          68            81.78          7     2  False
199998   26          34            34.98         27     1  False
199999   26          44            73.75         25     0   True

[200000 rows x 6 columns]

In [110]:
customer_df['CHURN'].value_counts()

CHURN
False    140438
True      59562
Name: count, dtype: int64

In [ ]:
59562/(140438+59562)
# 약 0.3의 확률로 True가 있음

0.29781

In [109]:
customer_df.to_csv('customer_data.csv', index=False)