#### Preprocessing (전처리)

Data Cleansing(데이터 정제): 결측치, 중복값, 이상치 처리
Data Encoding: 텍스트 데이터 -> 숫자 데이터 변환 (범주형 데이터에 주로 사용)
Data Scaling: 숫자값 정규화(StandardScaler, MinMaxScaler)
Outlier: 이상치 처리
FeatureEngineering: 속성 생성/수정/가공

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Data Cleansing

결측치 처리

In [ ]:
from sklearn.impute import SimpleImputer

data = pd.DataFrame({
    'age':[25, None, 27, None, 30],
    'income': [50000, 60000, None, 52000, 58000]
})
imputer = SimpleImputer()

data_cleaned = pd.DataFrame(imputer.fit_transform(data))
# 결측치가 있는 데이터를 fit_transform해서 DF형으로 저장
# fit 방법: NaN에 대해 해당 칼럼값의 평균을 내 자동 저장
data_cleaned

           0        1
0  25.000000  50000.0
1  27.333333  60000.0
2  27.000000  55000.0
3  27.333333  52000.0
4  30.000000  58000.0